<div class="container " id="About-market">
  <div class="headercontact" id="headercontact">
    <h3>Contact</h3>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= flash[:notice] %>

<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
</div>
<%= form.submit "Send", class: "form_label" %>
<% end %>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="list-contat">
        <ul>
          <li>
            <h4>
              <span class="glyphicon glyphicon-envelope color-orange"></span>
              Email: aa.20071663@gmail.com</h4>
          </li>
          <li>
            <h4>
              <span class="glyphicon glyphicon-earphone color-orange"></span>
              phone: 0598188540
            </h4>
          </li>
          <li>
            <h4>
              <i class="fa fa-facebook color-orange"></i>
              facebook: www.faceBook.com/mariamsakallah
            </h4>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
