<div class="container-fluid" id="Home">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <%= image_tag("1.jpg", class: "img-responsive") %>
        <div class="carousel-caption">
          <h3>
            Super Market
          </h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("1.jpg", class: "img-responsive") %>
        <div class="carousel-caption">
          <h3>
            Food Co
          </h3>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-warning" role="alert"><%= alert %></p>
<% end %>
<div class="container" id="header">
  <center>
    <h3>
      Top selling offers
    </h3>
    <center></div>
    <div class="container" id="main">
      <div class="row" id="img-product ">

        <div class="col-md-4 col-xs-12 ">
          <%= image_tag("1.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Tata-salt</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info  button-buy" value="buy">
          </center>
        </div>
        <!-- /col -->
        <div class="col-md-4 col-xs-12">
          <%= image_tag("2.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Fortune-sunflower</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info  button-buy" value="buy">
          </center>

        </div>
        <!-- /col -->
        <div class="col-md-4 col-xs-12 color-title">
          <%= image_tag("3.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Aashirvaad-atta</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info button-buy" value="buy">
          </center>
        </div>

      </div>
      <div class="row" id="img-product  ">

        <div class="col-md-4 col-xs-12 ">
          <%= image_tag("1.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Tata-salt</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info  button-buy" value="buy">
            
                          <!--       <div class="modal-button">
                                    <button class="btn btn-info  button-buy " data-toggle="modal" data-target=".bs-example-modal-lg">CV</button>
                                </div>
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Resume</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    A lot of people tend to confuse web design with web development, but there is a huge difference between the two. While web design mainly pertains to the design elements of a website, web development encompasses a lot more. It includes web design, but also includes web content development, client and server side scripting, server and configurations security 
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            
          </center>
        </div>
        <!-- /col -->
        <div class="col-md-4 col-xs-12">
          <%= image_tag("2.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Fortune-sunflower</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info  button-buy" value="buy">
          </center>

        </div>
        <!-- /col -->
        <div class="col-md-4 col-xs-12 color-title">
          <%= image_tag("3.png", class: "img-responsive img-centre ") %>
          <center>
            <h4>Aashirvaad-atta</h4>

            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <i class="fa fa-star blue-color" aria-hidden="true"></i>
            <h4>
              $29
              <span id="old-price">$35</span></h4>
            <input type="submit" class="btn btn-info button-buy" value="buy">
          </center>
        </div>

      </div>
    </div>
    <%= image_tag("b1.jpg", class: "img-responsive") %>
  </div>
