<div class="container" style="width: 80%">
<center>
<div class="row">
  <hr>
  <p>
  <h4 style="color: orange;"><%= comment.user.name %> <small><em><%= "#{ time_ago_in_words(comment.created_at)} ago" %></em></small></h4>
  <br>
  <% if current_user && current_user.admin? %>
  <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe,
   product_comment_path(comment.product, comment),
    method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
  </p>
  <div class="rated" data-score="<%= comment.rating %>"></div>
  <br>
  <p class="text-warning" style="font-weight: bold ;font-size: 16px"><%= comment.body %></p>
</div> 
</center>
</div>