
<div class="container">
<h2>Users</h2>
  <p>The info of user</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>first Name</th>
        <th>Email</th>
        <th>last last_name</th>
      </tr>
    </thead>
      <tr>
        <td>  <%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.last_name %></td>
        <td><div class="btn btn-info btn-xs"><%= link_to 'Edit', edit_user_path(@user) %> </div></td> |
      <td><div class="btn btn-info btn-xs"><%= link_to 'Back', users_path %></div></td>
      </tr>
  </table>
</div>
