<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %>
      prohibited this product from being saved:</h2>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field" id="form-layout">
  <%= form.label :name ,:class => "col-md-3 col-sm-12"%>
  <%= form.text_field :name, id: :product_name ,:class => "col-md-9 col-sm-12" %>
</div>

<div class="field" id="form-layout">
  <%= form.label :description ,:class => "col-md-3 col-sm-12" %>
  <%= form.text_area :description, id: :product_description ,:class => "col-md-9 col-sm-12"%>
</div>

<div class="field" id="form-layout">
  <%= form.label :image_url,:class => "col-md-3 col-sm-12" %>
  <%= form.text_field :image_url, id: :product_image_url,:class => "col-md-9 col-sm-12" %>
</div>
<div class="field" id="form-layout">
  <%= form.label :price,:class => "col-md-3 col-sm-12" %>
  <%= form.text_field :price ,:class => "col-md-9 col-sm-12"%>
</div>
<div class="field" id="form-layout">
  <%= form.label :colour ,:class => "col-md-3 col-sm-12" %>
  <%= form.text_field :colour ,:class => "col-md-9 col-sm-12" %>
</div>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>
</div>
