<div class="col-sm-3">
  <div class="col-item">
    <div class="photo">
      <%= image_tag(product.image_url) unless product.image_url.blank? %>
    </div>
    <div class="col-item ">
      <div class="row">
        <div class="price col-md-6">
          <h5>
            <%= product.name %></h5>
          <h5 class="price-text-color">
            <%= product.price %></h5>
        </div>
        <div class="rating hidden-sm col-md-6">
          <i class="price-text-color fa fa-star"></i>
          <i class="price-text-color fa fa-star"></i>
          <i class="price-text-color fa fa-star"></i>
          <i class="price-text-color fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="row" style="padding-left: 16px;">
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
      <div class="separator clear-left">
        <p class="btn-add">
          <i class="fa fa-shopping-cart"></i>
          <a href="#" class="hidden-sm">Add to cart</a>
        </p>
        <p class="btn-details">
          <i class="fa fa-list"></i>
          <a href="#" class="hidden-sm">More details</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
