<% cache product do %>
<div class="col-md-3">
      <div class="card" style="width: 20rem;padding: 2em;box-shadow: 0px 0px 5px #b2afaf;margin: 7px">
       
        </br>
   <center><%= image_tag(product.image_url ,class: "card-img-top" ,width: "100px" ,Height:"100px") unless product.image_url.blank? %></center>
  <div class="card-block">
    <center><h4 class="card-title"> <%= product.name %></h4></center>
    <p class="card-text" style="height: 70px;"><%=product.description %></p>
      <div class="row">
      <center><h5 class="price-text-color">
          price:  <%= product.price %> $</h5></center>
              <p class="btn-details">
          <i class="fa fa-edit"></i>
            <%= link_to 'Edit', edit_product_path(product) %>
        </p>
        <p class="btn-add">
          <i class="fa fa-remove"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></i>
        </p>
       
        </div>
        </br>
        <center><div class="btn btn-info text-white"><%= link_to 'Show', product %></div></center>       
  </div>
</div>
</div>
<% end %>