
<div class="container" id="pro">

  <div class="row " data-product-id="<%= @product.id %>"> 
   <div class="col-md-4 agileinfo_single_left">

    <% if @product.image_url.present? %>
    <%= image_tag( @product.image_url,width: "350px" ,Height:"350px", class: " MagicZoom img-zoom img-responsive center-img ", data_zoom_image: "@product.image_url") %>
    <% end %>    
  </div>
  <div class="col-md-2 "></div>
  <div class="col-md-5   agileinfo_single_right ">
    <center><h2><%= @product.name %></h2></center>
    <div class="average_rating" style="padding: 5px">
     <center><div class="rated" data-score="<%= @product.average_rating %>"></div></center> 
   </div>
   <div class="description">
    <h4>description :</h4>
    <p>
     <%= @product.description %>
   </p>
 </div>
 <div class="price " style="margin: 0 0 2em;">
  <h4><%= @product.price %> $</h4>
</div>
<center>
  <%= form_with(url: '/payments/create') do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>

  <% end %>
    <%= form_for(@orders) do |f| %>
             <%=f.hidden_field :product_id, class: "form-control" , value:@product.id %>
            <%=f.hidden_field :total, class: "form-control" , value:@product.price %>
                <%=f.submit "order", class:"order-button btn btn-info" %>
      <% end %>
</center>
</div>
</div>
</div>
<div class="container" style="
background: #f5f5f5;padding: 5em 0;">
<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>
<br>
<br>
<center>
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments, :container => false %>
  </div>
<h6>thanks for comment</h6>
<h6>  
  Views:
  <span class="badge">
    <%= @product.views %>
  </span>
</h6> 
<hr>
<div class="btn btn-info btn-xs"><%= link_to 'Edit', edit_product_path(@product) %></div>

<div class="btn btn-info btn-xs"><%= link_to 'Back', products_path %></div>
</center>
</div>


